@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
 .btn-ghost {
  @apply text-green-400;
  background-color: rgba(252, 252, 252, 0.034);
  font-size: 1rem;
 }
 .btn-ghost:hover {
  color: white;
 }
 .btn-ghost:disabled {
  @apply text-black;
 }
}

body {
 background: #031218;
 color: white;
}
